.spinner-inline {
  width: 1.25rem; /* 20px */
  height: 1.25rem; /* 20px */
  border: 2px solid currentColor;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  /* Чтобы спиннер был по центру кнопки */
  display: inline-block;
  vertical-align: middle;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}