/* Исправление отображения иконок маркеров */
.leaflet-marker-icon {
    background-size: contain;
}

/* Стили для всплывающих окон */
.leaflet-popup-content-wrapper {
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.leaflet-popup-content {
    margin: 1rem;
}

.leaflet-container {
    background-color: var(--gray-100);
}

html.dark .leaflet-container {
    background-color: var(--gray-900);
}