.not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    padding: 2rem;
}

.not-found-code {
    font-size: 8rem;
    font-weight: 800;
    line-height: 1;
    background: -webkit-linear-gradient(right, var(--pink-500), var(--yellow-400));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.not-found-title {
    font-size: 2.25rem;
    font-weight: 700;
    margin-top: 1rem;
    color: var(--gray-800);
}
html.dark .not-found-title {
    color: var(--white);
}

.not-found-message {
    font-size: 1.125rem;
    color: var(--gray-600);
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    max-width: 400px;
}
html.dark .not-found-message {
    color: var(--gray-400);
}