.map-container {
    flex-grow: 1;
    height: 100%;
    z-index: 10;
}

.leaflet-popup-content-wrapper { border-radius: 0.75rem; }
.popup-content { text-align: center; }
.popup-content img { width: 100%; height: 100px; object-fit: cover; border-radius: 0.5rem; margin-bottom: 0.5rem; }
.popup-content h3 { margin: 0 0 0.5rem 0; font-size: 1rem; }
.popup-content a { width: 100%; }