.loading-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid var(--gray-300);
  border-top-color: var(--pink-500);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

html.dark .spinner {
  border-color: var(--gray-700);
  border-top-color: var(--pink-400);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}